body{
    font-family: 'Redressed', cursive;
    margin:0;

}
h1{
    font-size: 50px;
    

}


.name-heighlilght{
    color:chocolate;
}


.helf-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.helf-width img{
    width:80%;
}
.top-banner{
 
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    width: auto;
}
.link-btn{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon,tomato);
    font-size:15px;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 200;
    transition:3s;
}
.link-btn:hover{
    background-image:linear-gradient(green, blue);
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 75%;
    background-color: white;
}

.experienc-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid;
    border-image:linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#fully{
    border-left:7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;

}
footer{
    text-align: center;
    font-size: 15px;
}