body{
    font-family: 'Poppins', sans-serif;
    width: 1173px;;
}
h1{
    font-size: 50px;
    

}


.name-heighlilght{
    color:chocolate;
}

.helf-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.helf-width img{
    width:100%;
}